
@import url('https://fonts.cdnfonts.com/css/futura-condensed-pt');
@import url(https://db.onlinewebfonts.com/c/377923bee59593973f7cf569892baeb8?family=SolanoGothicMVB-Rg);

:root{
  --main-bg-color: #202226;
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-secondary);
    color: #fff;
    /* font-family: 'Futura Condensed PT', sans-serif; */
    overflow-y: auto; /* TEMPORARY - CHANGE LATER IF THIS CAUSES ISSUES */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

html{
  visibility: visible;
  opacity: 1;
}

li, a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}


body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
  /* width: 0.1rem; */
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}
/* --------------------------------------- title -------------------------------------------------- */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.nav__title{
  list-style: none;
}

.nav__title h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15ch;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav__title h1{
    font-size: 0.8rem;
  }
}

/* --------------------------------------- navbar -------------------------------------------------- */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 400ms ease;
  -webkit-transition: width 400ms ease;
  -moz-transition: width 400ms ease;
  -ms-transition: width 400ms ease;
  -o-transition: width 400ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto; /* looks ugly in chrome ? */
  scrollbar-width: none;
}

.nav-item {
  width: 100%;
}

/* sets last item to put */
/* .nav-item:last-child {
  margin-top: auto;
} */

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover, .active a {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  transition: var(--transition-speed);
  -webkit-transition: var(--transition-speed);
  -moz-transition: var(--transition-speed);
  -ms-transition: var(--transition-speed);
  -o-transition: var(--transition-speed);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 3rem;
  margin: 0 1rem;
}

.fa-primary {
  color: #df938f;
}

.fa-secondary {
  color: #b3605c;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 0.05rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text{
  display: inline;
  position: absolute;
  left: -999px;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

#github{
  border-top: 1px solid #5a5a5a;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
  }

  #github{
    border-top: none;
    border-left: 1px solid #5a5a5a;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}


/* --------------------------------------- gacha-container -------------------------------------------------- */

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pull-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: red; */
}
.pull-container {
  text-align: center; 
}

button.pull{
  padding: 10px 40px;
  border: 2px solid var(--bg-primary);
  background: linear-gradient(to right, #23232e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-position 0.3s, color 0.3s;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

button.pull:hover {
  background-position: left bottom; 
  color: white;
}

#ordinaryTicket, #specialTicket{
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin-right: 5px;
}

/* --------------------------------------- gacha -------------------------------------------------- */
.gacha-container{
  margin-top: 10px;
}
.gacha-window {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px; 
  justify-content: center;
  max-width: 500px; 
  margin: 0 auto; 
  max-height: 600px;
  height: 600px;
}

.gacha-card{
  width: 120px;
  height: 280px;
  object-fit: cover;
  border: 2px solid transparent; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 768px) {

  .gacha-window{
    max-height: 300px;
    height: 300px;
    grid-gap: 5px;
    margin-left: 3px;
  }
  .gacha-card {
    width: 60px; 
    height: 140px;
  }

  .pull-container{
    margin-top: 40px;
  }
}

.gold-border {
  border-color: rgb(241, 198, 6);
  box-shadow: 0 0 60px rgba(241, 198, 6, 0.5);
}

.orange-border {
  border-color: rgb(255, 123, 0);
  box-shadow: 0 0 80px rgba(255, 123, 0, 0.5);
}

.purple-border {
  border-color: rgb(174, 28, 211);
  box-shadow: 0 0 20px rgba(174, 28, 211, 0.5);
}

.blue-border {
  border-color: rgb(63, 124, 255);
  box-shadow: 0 0 20px rgba(63, 124, 255, 0.5);
}


